<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,121}</string>
                <key>spriteSourceSize</key>
                <string>{46,121}</string>
                <key>textureRect</key>
                <string>{{440,779},{46,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,859},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_back_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,43}</string>
                <key>spriteSourceSize</key>
                <string>{102,47}</string>
                <key>textureRect</key>
                <string>{{694,779},{98,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{386,779},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,57}</string>
                <key>spriteSourceSize</key>
                <string>{63,57}</string>
                <key>textureRect</key>
                <string>{{323,779},{63,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{328,126}</string>
                <key>spriteSourceSize</key>
                <string>{360,136}</string>
                <key>textureRect</key>
                <string>{{1103,1378},{328,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_pusher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,78}</string>
                <key>spriteSourceSize</key>
                <string>{101,78}</string>
                <key>textureRect</key>
                <string>{{1103,1949},{101,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,1247},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,1635},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,859},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,1247},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,1635},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{323,3},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{323,391},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{553,831},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{598,3},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{598,391},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{553,1219},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{553,1607},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Club_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{873,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1261,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1649,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{873,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1261,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1649,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{873,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1261,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1649,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{828,828},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{828,1216},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{828,1604},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1103,828},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1491,828},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dragon_card_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,422}</string>
                <key>spriteSourceSize</key>
                <string>{314,422}</string>
                <key>textureRect</key>
                <string>{{3,3},{314,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fold_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,184}</string>
                <key>spriteSourceSize</key>
                <string>{129,184}</string>
                <key>textureRect</key>
                <string>{{1879,1172},{129,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1103,1103},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Heart_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1491,1103},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Heart_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1103,1561},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1437,1378},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Heart_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1378,1653},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1653,1653},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Red_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,121}</string>
                <key>spriteSourceSize</key>
                <string>{46,121}</string>
                <key>textureRect</key>
                <string>{{567,779},{46,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{193,128}</string>
                <key>spriteSourceSize</key>
                <string>{197,132}</string>
                <key>textureRect</key>
                <string>{{1879,1362},{193,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiger_Card_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,422}</string>
                <key>spriteSourceSize</key>
                <string>{314,422}</string>
                <key>textureRect</key>
                <string>{{3,431},{314,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Under_the_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{338,132}</string>
                <key>spriteSourceSize</key>
                <string>{360,136}</string>
                <key>textureRect</key>
                <string>{{1879,828},{338,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9672a0d8e163a62c57a16b170b67486e:2138858626a48d5a9c6eb4aeddee60c1:a7fe11abba7b43cdfb7473987f99f8f2$</string>
            <key>textureFileName</key>
            <string>card-0.png</string>
        </dict>
    </dict>
</plist>
