<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heart_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,3},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,391},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,779},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,1167},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{3,1555},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Heart_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Heart_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{666,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1054,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1442,3},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,278},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spade_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,666},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spade_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,1054},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spade_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{278,1442},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spade_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{553,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{941,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1329,278},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1717,278},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{553,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{941,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{269,382}</string>
                <key>textureRect</key>
                <string>{{1329,553},{269,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9672a0d8e163a62c57a16b170b67486e:2138858626a48d5a9c6eb4aeddee60c1:a7fe11abba7b43cdfb7473987f99f8f2$</string>
            <key>textureFileName</key>
            <string>card-1.png</string>
        </dict>
    </dict>
</plist>
